<div class="app-container">
  <div class="content-container">
    <div class="search-bar">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Поиск проектов</mat-label>
        <input matInput 
               placeholder="Введите название проекта..."
               [(ngModel)]="searchQuery"
               (input)="onSearchInput($event)">
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <button mat-raised-button class="add-btn" (click)="openProjectForm()" *appHasRole="['admin', 'projectManager']">
        <mat-icon>add</mat-icon>
        Новый проект
      </button>
    </div>

    <div class="projects-list">
      <div class="list-controls">
        <h2 class="title">Текущие проекты ({{totalCount}})</h2>
        <div class="control-buttons">
          <!-- Фильтры -->
          <button mat-icon-button 
                  [matMenuTriggerFor]="filterMenu" 
                  #filterTrigger="matMenuTrigger"
                  matTooltip="Фильтры"
                  [class.active]="hasActiveFilters">
            <mat-icon>filter_alt</mat-icon>
          </button>
          <mat-menu #filterMenu="matMenu">
            <app-filter-menu 
              (applied)="applyFilters($event)"
              (cleared)="clearFilters()">
            </app-filter-menu>
          </mat-menu>

          <!-- Сортировка -->
          <button mat-icon-button 
                  *ngIf="viewMode === 'list'"
                  [matMenuTriggerFor]="sortMenu" 
                  #sortTrigger="matMenuTrigger"
                  matTooltip="Сортировка"
                  [class.active]="sortField !== 'startDate' || sortOrder !== 'desc'">
            <mat-icon>sort</mat-icon>
          </button>
          <mat-menu #sortMenu="matMenu">
            <app-sort-menu 
            [selectedField]="sortField"
            [sortOrder]="sortOrder"
            (applied)="applySort($event)">
            </app-sort-menu>
          </mat-menu>

          <mat-button-toggle-group class="view-switcher" 
            [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()" 
            [(ngModel)]="viewMode"
            (change)="toggleView($event.value)">
            <mat-button-toggle value="list">Список</mat-button-toggle>
            <mat-button-toggle value="map">Карта</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div *ngIf="viewMode === 'list'" class="project-cards">
        <div class="project-card" *ngFor="let project of projects" [class]="project.status"
          [style.--progress]="project.progress">
          <div class="actions" *appHasRole="['admin', 'projectManager']">
            <button mat-mini-fab class="edit-btn" (click)="openProjectForm(project)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab class="delete-btn" (click)="deleteProject(project)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <h3 class="project-title">{{ project.name }}</h3>
          <div class="status-chip" [class]="project.status">
            {{ getStatusLabel(project.status) }}
          </div>
          <div class="progress-circle" *ngIf="project.status !== ProjectStatus.ContractorSearch && 
                      project.status !== ProjectStatus.Completed">
            <span class="percent">{{ project.progress }}%</span>
            <span class="label">Готово</span>
          </div>
          <div class="details">
            <div class="date-item">
              <mat-icon>event_available</mat-icon>
              <span *ngIf="project.status !== 'InExecution' && project.status !== 'Completed'">
                {{ project.startDate | date: 'dd.MM.yyyy' }}
              </span>
              <span *ngIf="project.status === 'InExecution' || project.status === 'Completed'">
                {{ project.startExecutionDate | date: 'dd.MM.yyyy' }}
              </span>
            </div>
            
            <div class="date-item">
              <mat-icon>event_busy</mat-icon>
              <span *ngIf="project.status !== 'InExecution' && project.status !== 'Completed'">
                {{ project.endDate | date: 'dd.MM.yyyy' }}
              </span>
              <span *ngIf="project.status === 'InExecution' || project.status === 'Completed'">
                {{ project.endExecutionDate | date: 'dd.MM.yyyy' }}
              </span>
            </div>
          
            <div class="responsible" 
                 *ngIf="project.status !== 'InExecution' && project.status !== 'Completed'">
              <mat-icon>person</mat-icon>
              <span>{{ project.responsiblePerson }}</span>
            </div>
          
            <div class="contractor" 
                 *ngIf="project.status === 'InExecution' || project.status === 'Completed'">
              <mat-icon>business</mat-icon>
              <span>{{ project.contractorName || 'Не указан' }}</span>
            </div>
          
            <div class="location">
              <mat-icon>location_on</mat-icon>
              <span>{{ project.workObject.name }}</span>
            </div>
          </div>
        </div>
        <div class="scroll-trigger" style="height: 1px; visibility: hidden;"></div>
      </div>
      <div *ngIf="viewMode === 'map'" class="map-container">
        <div #mapContainerRef id="map-container" style="height: 100%"></div>
        <div *ngIf="selectedProject" class="selected-project-info">
          <h3>{{ selectedProject.name }}</h3>
          <p>Статус: {{ getStatusLabel(selectedProject.status) }}</p>
          <p>Объект: {{ selectedProject.workObject.name }}</p>
          <p>Прогресс: {{ selectedProject.progress }}%</p>
        </div>
      </div>
    </div>
  </div>
</div>