<header class="app-header" [class.hidden-header]="router.url.split('?')[0] === '/login'">
  <mat-toolbar color="primary">
    <div class="header-content">
      <div class="logo">
        <mat-icon>traffic</mat-icon>
        <span>АДИС</span>
      </div>

      <div class="auth-section">
        <nav>
          <button mat-button routerLink="/">
            <mat-icon>list_alt</mat-icon>
            Проекты
          </button>

          <button mat-button 
                  routerLink="/admin/users"
                  *appHasRole="'Admin'">
            <mat-icon>people</mat-icon>
            Пользователи
          </button>
        </nav>

        <!-- Кнопка Войти -->
        <a mat-flat-button 
           color="accent" 
           routerLink="/login" 
           class="login-button"
           *ngIf="!authService.isAuthenticated()">
          <mat-icon>login</mat-icon>
          <span class="button-text">Войти</span>
        </a>

        <!-- Кнопка Выйти -->
        <button mat-flat-button 
                color="warn" 
                class="logout-button"
                *ngIf="authService.isAuthenticated()"
                (click)="authService.logout()">
          <mat-icon>logout</mat-icon>
          <span class="button-text">Выйти</span>
        </button>
      </div>
    </div>
  </mat-toolbar>  
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>