<header class="app-header">
  <mat-toolbar color="primary">
    <div class="header-content">
      <div class="logo">
        <mat-icon>traffic</mat-icon>
        <span>АДИС</span>
      </div>
      <nav>
        <button mat-button routerLink="/projects">
          <mat-icon>list_alt</mat-icon>
          Проекты
        </button>
        <button mat-button>
          <mat-icon>person</mat-icon>
          Профиль
        </button>
      </nav>
    </div>
  </mat-toolbar>  
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>